---
layout: layout
title: 
---
{% for post in paginator.posts %}
  <article>
  {% if post.layout == 'post' %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  {{ post.content }}
  </article>
{% endfor %}

<div class="pagination">
  {% if paginator.page == 1 %}
  <a class="current" href="{{ site.baseurl }}">1</a>
  {% else %}
  <a href="{{ site.baseurl }}">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
  {% if count == paginator.page %}
  <a class="current" href="{{ site.baseurl }}page{{count}}/">{{count}}</a>
  {% else %}
  <a href="{{ site.baseurl }}page{{count}}/">{{count}}</a>
  {% endif %}
  {% endfor %}
</div>
